body {
  margin: 0;
  padding: 0; 
  overflow: hidden; 
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR132TBAD0-GhGhN8_2Xr-3obkFd4NzFbk6Hg&s"); */
}

@font-face {
  font-family: 'pixelade';
  src: url('./fonts/pixelade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
