.hero-section {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.hero-text {
    color: #EAEAEA;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 700;
    font-size: 16rem;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    cursor: default;
    transform: translateY(38px);
    user-select: none;
    letter-spacing: -5px
}

.hero-subhead {
    color: #EAEAEA;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'pixelade', sans-serif;
    font-size: 3rem;
    margin-block-start: 0;
    margin-block-end: 0;
    transform: translateY(38px);
}

.hero-card {
    color: #EAEAEA;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.hero-scroll-prompt {
    color: #EAEAEA;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 80px;
}

.scroll-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 125px;
    padding: 0;
    gap: 1rem;
    align-items: end;
}

.arrow-icon {
    margin-bottom: 2px;
}