.projects-heading {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 900;
    font-size: 7rem;
    color: #0023ad;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}